h1 {
    font-family: 'Rampart One', cursive;
    font-size: 56px;
    color: white;
    margin: 0px;
}

table {
    display: flex;
    place-content: center;
    justify-content: center;
    border-spacing: 5vw;
    table-layout: fixed;
    width: 100%;
}

.Card {
  max-width: 250px;
  height: 50%;
  width: 33%;
  background-color: white;
  padding: 3vh 3vw;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}

.Card h3 {
  padding: 10px 0px;
  align-content: center;
}

.Card img {
  min-height: 140px;
  max-height: 140px;
  width: 100%;
  border-radius: 10px;
}

button {
  background-color: white;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: center;
  transition: box-shadow .2s;
}

button:hover {
  box-shadow: #121212 0 3px 0 0;
  transform: translateY(-3px);
}

.Card:hover {
  filter: brightness(115%);
  cursor: pointer;
}


/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
  * {
    margin: 0;
  }

  h1 {
    font-size: 36px;
  }

  table {
    margin: 0;
    padding: 0;
  }

  .Card {
    max-width: 150px;
    width: 33%;
    padding: 2vh;
  }
  
  .Card h3 {
    font-size: 15px;
    padding: 10px 0px;
  }
  
  button {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    margin: 1vh;
  }

  .Card img {
    min-height: 130px;
    max-height: 130px;
  }
}


/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  button {
    font-size: 0.7rem;
    padding: 0.3rem 0.7rem;
    margin: 0;
  }

  .Card img {
    min-height: 100px;
    max-height: 100px;
  }
}


/* Extra small devices (phones) */
@media only screen and (min-width: 355px) and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  .Card h3 {
    font-size: 10px;
  }

  button {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .Card {
    width: 33%;
    padding: 1vh;
  }

  .Card img {
    min-height: 90px;
    max-height: 90px;
  }
}